---
title: "Home"
pageMetaAuthor: "Page Author Name"
pageMetaTitle: "Page Meta Title"
pageMetaDescription: "Page Meta Description"
pageMetaKeywords: "Page, Meta, Keywords"
componentCSS: [herobanner]
componentJS: [heroabanner]
layout: default
---

<section class="hero-component full-wrap" aria-label="Hero Banner">
	<header class="hero-container" aria-label="hero banner">
		<img src="http://www.plantabillion.org/images/PBT-hero.jpg">
		<h1 class="page-title wrapper-medium">
			<strong>Our Forests are disappearing</strong>
			<span class="subtitle">We need your help to plant trees and restore forests around the globe. Donate today.</span>
		</h1>
	</header>
</section>